.instagram-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hamburger {
    background-color: transparent;
    border: none;
    font-size: 24px;
    width: 10px;
}

.instagram-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}

.home, .search, .reels, .messages, .profile, .create, .notifications {
    display: flex;
    align-items: center;
    gap: 30px;
}