@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.instagram-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 30px 10px;
}

.hamburger {
    background-color: transparent;
    border: none;
    display: none;
    font-size: 20px;
    cursor: pointer;
    width: 10px;
}

.instagram-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}

.home, .search, .reels, .messages, .profile, .create, .notifications {
    display: flex;
    align-items: center;
    gap: 30px;
}


@media (max-width: 844px) {
    .home, .search, .reels, .messages, .profile, .create, .notifications {
        display: none;
    }

    .hamburger {
        display: block;
    }
}